<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Login - VitalMed</title>
    <link rel="stylesheet" href="./login.component.css">
</head>

    <div class="login-container">
        <div class="logo">
            <img src="../../../assets/LogoHealth.png" alt="">
            <h1>Vital<span class="colorSpan">Med</span></h1>
        </div>
        <div class="login-box">
            <h2>Faça login em sua conta</h2>
            <form>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email" required>
                
                <label for="senha">Senha</label>
                <input type="password" id="senha" name="senha" required>
                
                
            </form>
            
            
        </div>
        <button type="submit">Entrar</button>
    </div>
