<div class="login-container">
  <div class="logo">
    <img src="../../../assets/LogoHealth.png" alt="Logo">
    <h1>Vital<span class="colorSpan">Med</span></h1>
  </div>

  <div class="login-box">
    <h2>Faça login em sua conta</h2>
    <form (ngSubmit)="fazerLogin()" #loginForm="ngForm">
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" [(ngModel)]="loginDados.email" required>

      <label for="password">Senha</label> <!-- Alterado de 'senha' para 'password' -->
      <input type="password" id="password" name="password" [(ngModel)]="loginDados.password" required>

      <button type="submit" [disabled]="!loginForm.valid">Entrar</button>
    </form>
  </div>
</div>
