* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.colorSpan {
  color: #296057;
}

.is-invalid {
  border: 2px solid red;
}

.is-valid {
  border: 2px solid green;
}

input {
  outline: none;
  border: 2px solid transparent;
}
