<div>
  <div class="header">
    <header class="form-header">
      <img src="../assets/LogoHealth.png" class="logo" alt="Logo" />
      <div class="title-header">Vital<span class="sub-med">Med</span></div>
    </header>
  </div>

  <div class="account-form">
    
      <form class="form-container">
        <p class="title-p">Crie uma conta</p>
        <div class="user-type">
          <button class="usuario-button"  value="Usuario">Usuário</button>
          <button class="usuario-button" value="Admin">ADMIN</button>
        </div>
       <div class="form-container-group">
        <div class="form-group">
          <div>
            <div class="text-intification">Nome</div>
            <input type="text" />
          </div>
          <div>
            <div class="text-intification">CPF</div>
            <input type="text" />
          </div>
        </div>
  
        <div class="form-group">
          <div class="text-intification">
            Data de Nascimento"
            <div><input type="date" /></div>
          </div>
        </div>
        <div class="form-group">
          <div class="text-intification">
            Contato
            <div>
              <input type="text" />
            </div>
          </div>
        </div>
        <div class="form-group">
        <div class="text-intification">
          Cartão de Convênio<span> (se aplicável)</span>
          <div>
            <input type="text" />
          </div>
        </div>
      </div>
        <div class="form-group">
          <div class="text-intification">
            E-mail
            <div><input type="email" /></div>
          </div>
          <div class="text-intification">
            Senha
            <div><input type="password" /></div>
          </div>
        </div>
       </div>
      </form>
    
  </div>
  <div class="form-footer">
    <label>
      <input type="checkbox" /> Aceite dos Termos de Uso e Política de
      Privacidade
    </label>
    <div class="submit-button">
      <button class="button-footer" type="submit">Salvar</button>
    </div>
  </div>
</div>
