<div class="consultasGroup">
  <p class="p-consultas">Próximas consultas</p>
  <div class="consulta">
    <div class="group">
      <ng-container *ngFor="let appointment of listAppointments">
        <div class="speciality">
          <span>Doutor(a): {{ appointment.doctor }}</span>

          <div class="group-icon">
            <span><img src="assets/Edição.svg" alt="editar" /></span>
            <span><img src="assets/Excluir.svg" alt="excluir" /></span>
          </div>
        </div>

        <div class="doctor-date">
          <span>Especialidade: {{ appointment.specialty }}</span>

          <span>Agendado para: {{ appointment.date }}</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
